---
import Layout from '@/layouts/Layout.astro';
import projects from '@/data/projects.json';
import { BackButton } from '@/components/ProjectDetails/BackButton';
import questHubImage from '@/assets/questHub.png';
import sharingLinkImage from '@/assets/sharing-link-transformer.png';
import claraVidoniImage from '@/assets/claravidoni.png';
import ProjetDetailsHeader from '@/components/ProjectDetails/ProjetDetailsHeader.astro';
import ProjectDetailsContent from '@/components/ProjectDetails/ProjectDetailsContent.astro';
import ProjectDetailsDescriptionCard from '@/components/ProjectDetails/ProjectDetailsDescriptionCard.astro';

const projectImages: { [key: string]: typeof questHubImage } = {
  '1': questHubImage,
  '2': sharingLinkImage,
  '3': claraVidoniImage,
};

export function getStaticPaths() {
  return projects.projects.map(project => ({
    params: { id: project.id },
  }));
}

const { id } = Astro.params;
const project = projects.projects.find(p => p.id === id);

if (!project) {
  return Astro.redirect('/404');
}

const projectImage = projectImages[id];
const { title, technologies, url, description, description_details, skills } = project;

---

<Layout>
  <section class="flex flex-col items-center justify-around min-h-screen mx-5 gap-10 mt-5">
    <ProjetDetailsHeader title={title} technologies={technologies} />
    <ProjectDetailsContent url={url} title={title} image={projectImage} />
    <ProjectDetailsDescriptionCard description_details={description_details} skills={skills} />
    <BackButton client:load showOnMobile />
  </section>
</Layout>
